.form {
  @include mixins.flex(column);
  gap: 80px;
  font-size: $mainFontSize;
  border-radius: 3rem;
  max-width: $maxPageWidth;
  margin: 0 auto;
  padding-top: $defaultPadding;

  @media (max-width: 768px) {
    gap: 2rem;
    font-size: 1.125rem;
    border-radius: 1.5rem;
    padding-top: 0;
    margin: 0;
  }

  @media (max-width: 480px) {
    gap: 1.5rem;
    font-size: 1rem;
    border-radius: 1rem;
  }
}
